{% extends "recipe_search/base.html" %}
{% block content %}
<div class="container">
	<!-- bootstrap card to make the extra space look faded -->
	<div class="card card-register mx-auto mt-2">
		<div class="card-header">Recipe Finder - Home</div>
		<div class="card-body">
			<p>This is an online recipe finder that uses Edamam API to search for existing recipes amongst 1 million+ recipes.</p>

			<br><br><br>

			{% for user in users %}
				<h1>Name: {{ user.name }}</h1>
				<h2>Username: {{ user.username }}</h2>
				<br>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}