{% extends "recipe_search/base.html" %}
{% block content %}
<div class="container">
	<!-- bootstrap card to make the extra space look faded -->
	<div class="card card-register mx-auto mt-2">
		<div class="card-header">Recipe Finder - Home</div>
		<div class="card-body">
			<p>This application is a 3-in-1 application that provides the ability to find recipes with natural language, find nutrition information on any food available within the API used, login and use the application to save recipes (Work in progress) and considering the nature of this application, the user's connection is encrypted as well. </p>

			<br><br><br>

		</div>
	</div>
</div>
{% endblock content %}